.swipelist-delete-product {
  background-color: rgba(207, 36, 2, 1);
  background-image: -webkit-gradient(linear, left top, left top, color-stop(0%, rgba(207, 36, 2, 1)), color-stop(0% rgba(8, 8, 8, 1)));
  background-image: -webkit-linear-gradient(left, rgba(207, 36, 2, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: -moz-linear-gradient(left, rgba(207, 36, 2, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: -ms-linear-gradient(left, rgba(207, 36, 2, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: -o-linear-gradient(left, rgba(207, 36, 2, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: linear-gradient(left, rgba(207, 36, 2, 1) 0%, rgba(8, 8, 8, 1) 0%);
}

.swipelist-check-product {
  background-color: rgba(98, 168, 24, 1);
  background-image: -webkit-gradient(linear, right top, right top, color-stop(0%, rgba(98, 168, 24, 1)), color-stop(0% rgba(8, 8, 8, 1)));
  background-image: -webkit-linear-gradient(right, rgba(98, 168, 24, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: -moz-linear-gradient(right, rgba(98, 168, 24, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: -ms-linear-gradient(right, rgba(98, 168, 24, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: -o-linear-gradient(right, rgba(98, 168, 24, 1) 0%, rgba(8, 8, 8, 1) 0%);
  background-image: linear-gradient(right, rgba(98, 168, 24, 1) 0%, rgba(8, 8, 8, 1) 0%);
}

.swipelist-delete-product-icon {
  -webkit-mask-image: url('images/icon_delete.png') !important;
  -moz-mask-image: url('images/icon_delete.png') !important;
  -ms-mask-image: url('images/icon_delete.png') !important;
  -o-mask-image: url('images/icon_delete.png') !important;
  mask-image: url('images/icon_delete.png') !important;
}

.swipelist-check-product-icon {
  padding-top: 6px;
  padding-bottom 6px;
  -webkit-mask-image: url('images/icon_check.png') !important;
  -moz-mask-image: url('images/icon_check.png') !important;
  -ms-mask-image: url('images/icon_check.png') !important;
  -o-mask-image: url('images/icon_check.png') !important;
  mask-image: url('images/icon_check.png') !important;
}

.ui-listview li {
	white-space: normal;
}

.deactivated {
	opacity: 0.4;
}

.connection-base {
	display: block;
	position: absolute;
  	top: 275px;
  	right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;    
    border: solid white;
    z-index: 1;
}

.disconnected {
    background: red;
}

.connected {    
    background: green;
}

.cart-session-base {
	position:fixed;
	top:0px;
	left:0px;
	z-index:1;
}

.ui-grid-col-2 > .ui-btn {
	width: 50%;
	float: left;
  	border-left: solid 1px rgba(8, 8, 8, 1);
}

.input-btn {
	padding-top: 20px;
	height: 65px;
	border-style: solid;
    border-width: 1px;
    border-color: black;
}

.text-field {
	background-color: #e6e6e6;
	height: 60px;
	width: 100%;
	color: black;
	padding: 10px 15px;
}